<!doctype html>
<html>

<head>
{% load static %}
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}Inventory</title>
    <link rel="stylesheet" href="{% static "css/inventory.css" %}" media="screen">
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" media="screen">
    <script type="text/javascript" src="{% static "js/jquery-2.1.4.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/inventory.js" %}"></script>
    <script src="https://js.pusher.com/3.2/pusher.min.js"></script>
    {% block addsrc %}{% endblock %}
</head>

<body>

{% include "header.html" %}

<div id="content">
<div id="left"></div>
<div id="center">
    {% block content %}{% endblock %}
</div>
<div id="right"></div>
</div>

{% include "footer.html" %}


      </div>



   </body>
<div class="se-pre-con" id="load"></div>

</html>